name: Package

on:
  workflow_dispatch:
    inputs:
      prerelease:
        description: "Mark as prerelease (sets Prerelease in manifest)"
        required: false
        type: boolean
        default: false

jobs:
  windows:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Install needed software
        run: ./.github/scripts/Install.ps1
        shell: pwsh

      - name: Build PSFzf-Binary
        run: ./.github/scripts/Build.ps1
        shell: pwsh

      - name: Package module
        run: ./.github/scripts/Package.ps1 -Version '2.7.9' -IsPrerelease:${{ inputs.prerelease }}
        shell: pwsh

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: PSFzf-${{ inputs.version }}
          path: out/PSFzf-${{ inputs.version }}.zip
